


body {
    background-color:rgb(61, 61, 61);
}

h1 {
    font-size:60px;
    font-family: 'Roboto Mono', monospace;
    color:whitesmoke;
    text-align: center;
}

p{
    font-size:30px;
    font-family: 'Roboto Mono', monospace;
    color:whitesmoke;
    text-align: center;
}