@font-face {
  font-family: openSans;
  src: url(Resources/Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: openSansItalic;
  src: url(Resources/Fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf);
}

@font-face {
  font-family: firaCode;
  src: url(Resources/Fonts/Fira_Code/FiraCode-VariableFont_wght.ttf);
}

:root {
  box-sizing: border-box;

  --header-footer-color: #FFFFFF;
  --main-content-color: #313131;
  --font-color-1: #000000;
  --font-color-2: #FFFFFF;
  --max-content-width: 1200px;
}

html, body {
  font-family: openSans;
}

header, main, footer {
  max-width: var(--max-content-width);
  margin-right: auto;
  margin-left: auto;
}

header {
  background-color: var(--header-footer-color);
  display: flex;
  flex-direction: row;
  height: 300px;
  align-items: center;
  justify-content: space-between;
}

main {
  color: var(--font-color-2);
  height: 1000px;
}

footer {
  background-color: var(--header-footer-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 200px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

h1 {
  font-family: firaCode;
  font-size: 64px;
}

h2 {
  font-size: 32px;
  font-family: firaCode;
}

main h2 {
  padding: 100px 0px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  color: var(--font-color-2);
}

#main-bg {
  background-color: var(--main-content-color);
}

#header-bg, #footer-bg {
  background-color: var(--header-footer-color);
}

#header-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#header-image {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

#footer-link-icons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

#footer-link-icons img {
  width: 35px;
}

#tool-icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 60px;
}

.tool-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.tool-icon-image {
  height: 100px;
  border-radius: 8px;
}