@font-face {
  font-family: openSans;
  src: url(Resources/Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: openSansItalic;
  src: url(Resources/Fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf);
}

@font-face {
  font-family: firaCode;
  src: url(Resources/Fonts/Fira_Code/FiraCode-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
}

:root {
  --header-footer-color: #FFFFFF;
  --main-content-color: #313131;
  --font-color-1: #000000;
  --font-color-2: #FFFFFF;
  --max-content-width: 1200px;
}

html, body {
  font-family: openSans;
}

header, main, footer {
  max-width: var(--max-content-width);
  margin-right: auto;
  margin-left: auto;
  padding: 0px 30px;
}

header {
  background-color: var(--header-footer-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

main {
  color: var(--font-color-2);
  padding-bottom: 100px;
}

footer {
  background-color: var(--header-footer-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px 0px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

h1 {
  font-family: firaCode;
  font-size: 64px;
}

h2 {
  font-size: 32px;
  font-family: firaCode;
}

section > h2 {
  padding: 100px 0px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
  color: var(--font-color-2);
}

p {
  font-size: 18px;
}

#main-bg {
  background-color: var(--main-content-color);
}

#header-bg, #footer-bg {
  background-color: var(--header-footer-color);
}

#header-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#header-image {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

#footer-link-icons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

#footer-link-icons img {
  width: 35px;
}

#tool-icon-grid {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  justify-content: space-between;
  gap: 40px;
}

#project-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: space-between;
  gap: 30px;
}

.tool-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-self: center;
  max-width: 120px;
}

.tool-icon-image {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

.project-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-image {
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid var(--main-content-color);
}

.project-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  background-color: var(--header-footer-color);
  border-radius: 0px 0px 10px 10px;
}

.project-info h2, .project-info p {
  color: var(--font-color-1);
}

@media (max-width: 1050px) {
  #tool-icon-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  #project-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 550px) {
  #tool-icon-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  #project-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  header {
    height: 100vh;
    flex-direction: column;
    padding-top: 20px;
    margin: 0px;
    padding-bottom: 40px;
    justify-content: space-evenly;
  }

  /* Header Image */
  #header-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  
}